# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/*
build/
build/*
classes/
classes/*
.gradle/
.gradle/*
out/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
.project
settings.gradle
src/main/resources/
src/test/resources/
